@font-face {
  font-family: 'Roman';
  src: url('/assets/font/RomanSerif.ttf') format('truetype');
}

@font-face {
  font-family: 'Chomsky';
  src: url('/assets/font/Chomsky.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
* {
  font-family: 'Roman', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
}

/* left Navigation */

.left-container {
  display: flex;
  align-items: center;
}

.left-container>* {
  margin-left: 15px;
  font-size: 15px !important;
}

.search {
  margin-left: 25px !important;
  margin-right: 15px;
}

.space-and-cosmos {
  font-size: 13px !important;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

/* middle Navigation */

.middle-container>h3>a {
  font-family: 'Chomsky', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

/* right Navigation */

.right-container {
  display: flex;
  align-items: center;
  width: 15%;
}

.button {
  background-color: rgb(86, 123, 149);
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5%;
  border: none;
  font-size: 11px;
}

header>* {
  margin: 0 auto;
  max-width: 600px;
}

header>h1 {
  margin-top: 100px;
}

header>.image-container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 975px;
}

.image-container>img {
  width: 100%;
}

.image-container>.image-caption {
  font-size: 0.9375rem;
  line-height: 1;
}

.image-container>.image-author {
  font-size: 0.75rem;
}

/* Social Midea Icon */

.social-media-icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.article-author>p {
  margin-bottom: 24px;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: sans-serif;
}

.media-bar {
  display: flex;
  justify-content: space-between;
}

.date {
  align-self: flex-start;
  font-size: 0.8125rem;
}

.icons {
  align-self: flex-end;
  width: 20%;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  min-width: 242px;
}

.icons>* {
  cursor: pointer;
}

.ics-media {
  font-size: 15px !important;
  background-color: #eee;
  border: 10px solid #eee;
  border-radius: 50%;
}

.ics-media:hover {
  border: 10px solid white;
}

h2 {
  font-size: 20px;
}

/* Main Body */

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 1.25rem;
}

.section-normal>h2 {
  font-weight: 700;
}

/* Card */

.card-images-section {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}

.images-card-container {
  display: flex;
  flex-wrap: wrap;
}

.images-card-container>div {
  flex: 1;
}

.images-card-container>div>p {
  min-width: 30%;
  font-size: 00.8125rem;
}

.card-image {
  width: 230px;
  height: 230px;
}

.card-image>p {
  width: 30%;
  height: auto;
}

.video-container {
  font-size: 1rem;
}

/* comment section */

.comment-section {
  display: flex;
  flex-direction: column;
}

.comment-section>p, .comment-section>p>a {
  color: gray;
  font-size: 0.8rem;
}

.social-media-icons-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.social-media-icons-2>button {
  width: 50%;
}

.social-media-icons-2>.media-bar {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

/* footer */

footer {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
}

.links>a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.footer-bar {
  top: auto;
  bottom: 0 !important;
  height: 40px !important;
}

.footer-bar>.p1 {
  align-self: center;
}

.footer-bar>.p2 {
  align-self: flex-end;
}

.vertical-line {
  border: 1px solid gray;
  height: 250px;
}

.middle-container {
  display: flex;
}