@font-face {
  font-family: 'Roman';
  src: url('/assets/font/RomanSerif.ttf') format('truetype');
}

@font-face {
  font-family: 'Chomsky';
  src: url('/assets/font/Chomsky.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');

* {
  font-family: "Roman",Sans-Serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
}

/* left Navigation */
.left-container {
  display: flex;
  align-items: center;
}

.left-container > * {
  margin-left: 15px;
  font-size: 15px !important;
}

.search {
  margin-left: 25px !important;
  margin-right: 15px;
}

.space-and-cosmos {
  font-size: 13px !important;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
/* middle Navigation */
.middle-container > h3 > a {
  font-family: "Chomsky",Sans-Serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
/* right Navigation */
.right-container {
  display: flex;
  align-items: center;
  width: 15%;
}
.right-container > * {
  background-color: rgb(86, 123, 149);
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5%;
  border: none;
  font-size: 11px;
}
/* Main Body */
main {
  margin-top: 100px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 1.25rem;
}

.image-container {
  width: 100%;
}

.image-container > img {
  width: 100%;
}

.image-container > .image-caption {
  font-size: 0.9375rem;
  line-height: 1;
}

.image-container > .image-author {
  font-size: 0.75rem;
}

.social-media-icons {
  border: 1px solid blue;
}

h2 {
  font-size: 20px;
}
